// Body
///$body-bg: #f8fafc;
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$red-hover: #d0211c;
$green-hover: #2fa360;
$colors: () !default;
$colors: map-merge((
        "red-hover": $red-hover,
        "green-hover": $green-hover,
),
        $colors
);