/*

Run all Mix tasks...
npm run dev

Run all Mix tasks and minify output...
npm run production

*/


/*!
 * Chat as WhatsApp
 * https://codepen.io/anon/pen/LKKVyO
 */
/// Верстальщик верстал в CSS, пока не перенесли

/*!
 * FAB - Floating Action Button
 * https://codepen.io/WebFikirleri/pen/MLXYKm/
 */
.btn-group-fab {
    position: fixed;
    width: 50px;
    height: auto;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 10;
    &.fab-2 {
        bottom: 7rem;
    }
    div {
        position: relative;
        width: 100%;
        height: auto;
    }
    .btn {
        position: absolute;
        bottom: 0;
        border-radius: 50%;
        display: block;
        ///margin-bottom: 4px;
        margin: auto;
    }
    .btn-main {
        width: 4rem; height: 4rem;
        right: 50%; margin-right: -2rem;
        z-index: 9;
        & i, & .as-icon  {
            font-size: 2rem;
            line-height: 0;
            width: 2rem;
            height: 2rem;
        }
    }
    .btn-sub {
        width: 3rem; height: 3rem;
        right: 50%; margin-right: -1.5rem;
        z-index: 8;
        transition: all 0.5s;
        -webkit-transition: all 2s;
    }
    &.active {
        .btn-sub:nth-child(2) {
            bottom: 60px;
        }
        .btn-sub:nth-child(3) {
            bottom: 110px;
        }
        .btn-sub:nth-child(4) {
            bottom: 160px;
        }
        .btn-sub:nth-child(5) {
            bottom: 210px;
        }
    }

    .badge {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .wave {
        position: absolute;
        border-radius: 50%;
        top: 5%;
        left: 5%;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        will-change: opacity,transform,-webkit-transform;
        border: 4px solid;
        width: 90%;
        height: 90%;
        z-index: -1;
        opacity: .9;
        -webkit-animation: wave-stroke-opt 1s cubic-bezier(.42,0,.85,.75) infinite;
        animation: wave-stroke-opt 1.5s cubic-bezier(.42,0,.85,.75) infinite;
    }

    @-webkit-keyframes wave-stroke-opt {
        to {
            opacity: 0;
            -webkit-transform: scale(1.5)
        }
    }

    @keyframes wave-stroke-opt {
        to {
            opacity: 0;
            -webkit-transform: scale(1.5);
            transform: scale(1.5)
        }
    }
}


/// Add Icons
.icon {
    vertical-align: top;
    &:before {
        font-size: inherit;
    }
    &.icon-xs:before {
        font-size: .8rem;
    }
    &[class*="ico-custom-"] {
        display: inline-block;
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1.3rem;
        height: 1.3rem;
        &.icon-xs {
            width: .8rem;
            height: .8rem;
        }
        &.icon-15 {
            width: 1.5rem;
            height: 1.5rem;
        }
        &.icon-20 {
            width: 2.0rem;
            height: 2.0rem;
        }
        &.icon-25 {
            width: 2.5rem;
            height: 2.5rem;
        }
        &.icon-30 {
            width: 3.0rem;
            height: 3.0rem;
        }
        &.icon-35 {
            width: 3.5rem;
            height: 3.5rem;
        }
        &.icon-40 {
            width: 4.0rem;
            height: 4.0rem;
        }
        &.icon-45 {
            width: 4.5rem;
            height: 4.5rem;
        }
        &.icon-50 {
            width: 5.0rem;
            height: 5.0rem;
        }
    }
    &[class*="ico-custom-garage"] {
        mask-image: url(/img/icons/garage.svg);
    }
    &[class*="ico-custom-phone"] {
        mask-image: url(/img/icons/phone.svg);
    }
    &[class*="ico-custom-engine-1"] {
        mask-image: url(/img/icons/engine-1.svg);
    }
    &[class*="ico-custom-consult"] {
        mask-image: url(/img/icons/consult.svg);
    }
    &[class*="ico-custom-construction"] {
        mask-image: url(/img/icons/construction.svg);
    }
    &[class*="ico-custom-toyota"] {
        mask-image: url(/img/icons/toyota.svg);
    }
    &[class*="ico-custom-repair"] {
        mask-image: url(/img/icons/repair.svg);
    }
    &[class*="ico-custom-smartphone"] {
        mask-image: url(/img/icons/smartphone.svg);
    }
    &[class*="ico-custom-messages"] {
        mask-image: url(/img/icons/messages.svg);
    }
    &[class*="ico-custom-original"] {
        mask-image: url(/img/icons/original.svg);
    }
    &[class*="ico-custom-shield"] {
        mask-image: url(/img/icons/shield.svg);
    }
    &[class*="ico-custom-truck"] {
        mask-image: url(/img/icons/truck.svg);
    }
    &[class*="ico-custom-phone-call"] {
        mask-image: url(/img/icons/phone-call.svg);
    }
}
[icon-only][icon-big] .icon { font-size: 2.4em !important; }


/*!
 * Markdown CSS
 * https://github.com/fabiocolacio/markdown-css-themes
 */
.markdown {
    a{ color: #0645ad; text-decoration:none;}
    a:visited{ color: #0b0080; }
    a:hover{ color: #06e; }
    a:active{ color:#faa700; }
    a:focus{ outline: thin dotted; }
    a:hover, a:active{ outline: 0; }

    ::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
    ::selection{background:rgba(255,255,0,0.3);color:#000}

    a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
    a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

    p{
        margin:1em 0;
    }

    img{
        max-width:100%;
    }

    h1,h2,h3,h4,h5,h6{
        font-weight:normal;
        color:#111;
        line-height:1em;
    }
    h4,h5,h6{ font-weight: bold; }
    h1{ font-size:2.5em; }
    h2{ font-size:2em; }
    h3{ font-size:1.5em; }
    h4{ font-size:1.2em; }
    h5{ font-size:1em; }
    h6{ font-size:0.9em; }

    blockquote{
        color:#666666;
        margin:0;
        padding-left: 3em;
        border-left: 0.5em #EEE solid;
    }
    hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }
    pre, code, kbd, samp { color: #000; font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 0.98em; }
    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

    b, strong { font-weight: bold; }

    dfn { font-style: italic; }

    ins { background: #ff9; color: #000; text-decoration: none; }

    mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
    li p:last-child { margin:0 }
    dd { margin: 0 0 0 2em; }

    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    th { border-bottom: 1px solid black; }
    td { vertical-align: top; }

    @media only screen and (min-width: 480px) {
        body{font-size:14px;}
    }

    @media only screen and (min-width: 768px) {
        body{font-size:16px;}
    }

    @media print {
        * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
        body{font-size:12pt; max-width:100%;}
        a, a:visited { text-decoration: underline; }
        hr { height: 1px; border:0; border-bottom:1px solid black; }
        a[href]:after { content: " (" attr(href) ")"; }
        abbr[title]:after { content: " (" attr(title) ")"; }
        .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
        pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
        tr, img { page-break-inside: avoid; }
        img { max-width: 100% !important; }
        ///@page :left { margin: 15mm 20mm 15mm 10mm; }
        ///@page :right { margin: 15mm 10mm 15mm 20mm; }
        p, h2, h3 { orphans: 3; widows: 3; }
        h2, h3 { page-break-after: avoid; }
    }
}
.markdown-1 {
    h1, h2, h3, h4 {
        font-weight: 400;
    }
    h1, h2, h3, h4, h5, p {
        margin-bottom: 24px;
        padding: 0;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
        margin: 24px 0 6px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 21px;
    }
    h5 {
        font-size: 18px;
    }
    a {
        color: #61BFC1;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: baseline;
    }
    a:hover {
        text-decoration: underline;
    }
    a:visited {
        color: #466B6C;
    }
    ul, ol {
        padding: 0;
        margin: 0;
    }
    li {
        line-height: 24px;
    }
    li ul, li ul {
        margin-left: 24px;
    }
    p, ul, ol {
        font-size: 16px;
        line-height: 24px;
        max-width: 540px;
    }
    pre {
        padding: 0px 24px;
        max-width: 800px;
        white-space: pre-wrap;
    }
    code {
        font-family: Consolas, Monaco, Andale Mono, monospace;
        line-height: 1.5;
        font-size: 13px;
    }
    aside {
        display: block;
        float: right;
        width: 390px;
    }
    blockquote {
        border-left:.5em solid #eee;
        padding: 0 2em;
        margin-left:0;
        max-width: 476px;
    }
    blockquote  cite {
        font-size:14px;
        line-height:20px;
        color:#bfbfbf;
    }
    blockquote cite:before {
        content: '\2014 \00A0';
    }

    blockquote p {
        color: #666;
        max-width: 460px;
    }
    hr {
        width: 540px;
        text-align: left;
        margin: 0 auto 0 0;
        color: #999;
    }

    /* Code below this line is copyright Twitter Inc. */

    button,
    input,
    select,
    textarea {
        font-size: 100%;
        margin: 0;
        vertical-align: baseline;
        *vertical-align: middle;
    }
    button, input {
        line-height: normal;
        *overflow: visible;
    }
    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button;
    }
    input[type=checkbox], input[type=radio] {
        cursor: pointer;
    }
    /* override default chrome & firefox settings */
    input:not([type="image"]), textarea {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }
    label,
    input,
    select,
    textarea {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: normal;
        line-height: normal;
        margin-bottom: 18px;
    }
    input[type=checkbox], input[type=radio] {
        cursor: pointer;
        margin-bottom: 0;
    }
    input[type=text],
    input[type=password],
    textarea,
    select {
        display: inline-block;
        width: 210px;
        padding: 4px;
        font-size: 13px;
        font-weight: normal;
        line-height: 18px;
        height: 18px;
        color: #808080;
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    select, input[type=file] {
        height: 27px;
        line-height: 27px;
    }
    textarea {
        height: auto;
    }

    /* grey out placeholders */
    :-moz-placeholder {
        color: #bfbfbf;
    }
    ::-webkit-input-placeholder {
        color: #bfbfbf;
    }

    input[type=text],
    input[type=password],
    select,
    textarea {
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    input[type=text]:focus, input[type=password]:focus, textarea:focus {
        outline: none;
        border-color: rgba(82, 168, 236, 0.8);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    }

    /* buttons */
    button {
        display: inline-block;
        padding: 4px 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        background-color: #0064cd;
        background-repeat: repeat-x;
        ///background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
        ///background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
        ///background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
        ///background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
        ///background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
        ///background-image: -o-linear-gradient(top, #049cdb, #0064cd);
        ///background-image: linear-gradient(top, #049cdb, #0064cd);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid #004b9a;
        border-bottom-color: #003f81;
        -webkit-transition: 0.1s linear all;
        -moz-transition: 0.1s linear all;
        transition: 0.1s linear all;
        border-color: #0064cd #0064cd #003f81;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }
    button:hover {
        color: #fff;
        background-position: 0 -15px;
        text-decoration: none;
    }
    button:active {
        -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}
.markdown-2 {
    html, body {
        padding:1em;
        margin:auto;
        max-width:42em;
        background:#fefefe;
    }
    body {
        font: 1.3em "Vollkorn", Palatino, Times;
        color: #333;
        line-height: 1.4;
        text-align: justify;
    }
    header, nav, article, footer {
        width: 700px;
        margin:0 auto;
    }
    article {
        margin-top: 4em;
        margin-bottom: 4em;
        min-height: 400px;
    }
    footer {
        margin-bottom:50px;
    }
    video {
        margin: 2em 0;
        border:1px solid #ddd;
    }

    nav {
        font-size: .9em;
        font-style: italic;
        border-bottom: 1px solid #ddd;
        padding: 1em 0;
    }
    nav p {
        margin: 0;
    }

    /* Typography
    -------------------------------------------------------- */

    h1 {
        margin-top: 0;
        font-weight: normal;
    }
    h2 {
        font-weight: normal;
    }
    h3 {
        font-weight: normal;
        font-style: italic;
        margin-top:3em;
    }
    p {
        margin-top:0;
        -webkit-hypens:auto;
        -moz-hypens:auto;
        hyphens:auto;
    }
    ul {
        list-style: square;
        padding-left:1.2em;
    }
    ol {
        padding-left:1.2em;
    }
    blockquote {
        margin-left: 1em;
        padding-left: 1em;
        border-left: 1px solid #ddd;
    }
    code {
        font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
        font-size: .9em;
        background: white;
    }
    a {
        color: #2484c1;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a img {
        border:none;
    }
    h1 a, h1 a:hover {
        color: #333;
        text-decoration: none;
    }
    hr {
        color : #ddd;
        height : 1px;
        margin: 2em 0;
        border-top : solid 1px #ddd;
        border-bottom : none;
        border-left: 0;
        border-right: 0;
    }
    p#heart{
        font-size: 2em;
        line-height: 1;
        text-align: center;
        color: #ccc;
    }
    .red {
        color:#B50000;
    }

    /* Home Page
    --------------------------- */

    body#index li {
        margin-bottom: 1em;
    }


    /* iPad
    -------------------------------------------------------- */
    @media only screen and (max-device-width: 1024px) {
        body {
            font-size: 120%;
            line-height: 1.4;
        }
    } /* @iPad */

    /* iPhone
    -------------------------------------------------------- */
    @media only screen and (max-device-width: 480px) {
        body {
            text-align: left;
        }
        article, footer {
            width: auto;
        }
        article {
            padding: 0 10px;
        }
    } /* @iPhone */
}
.markdown-3 {
    html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

    body{
        color:#444;
        font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
        font-size:12px;
        line-height:1.5em;
        padding:1em;
        margin:auto;
        max-width:42em;
        background:#fefefe;
    }

    a{ color: #0645ad; text-decoration:none;}
    a:visited{ color: #0b0080; }
    a:hover{ color: #06e; }
    a:active{ color:#faa700; }
    a:focus{ outline: thin dotted; }
    a:hover, a:active{ outline: 0; }

    ::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
    ::selection{background:rgba(255,255,0,0.3);color:#000}

    a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
    a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

    p{
        margin:1em 0;
    }

    img{
        max-width:100%;
    }

    h1,h2,h3,h4,h5,h6{
        font-weight:normal;
        color:#111;
        line-height:1em;
    }
    h4,h5,h6{ font-weight: bold; }
    h1{ font-size:2.5em; }
    h2{ font-size:2em; }
    h3{ font-size:1.5em; }
    h4{ font-size:1.2em; }
    h5{ font-size:1em; }
    h6{ font-size:0.9em; }

    blockquote{
        color:#666666;
        margin:0;
        padding-left: 3em;
        border-left: 0.5em #EEE solid;
    }
    hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }
    pre, code, kbd, samp { color: #000; font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 0.98em; }
    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

    b, strong { font-weight: bold; }

    dfn { font-style: italic; }

    ins { background: #ff9; color: #000; text-decoration: none; }

    mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
    li p:last-child { margin:0 }
    dd { margin: 0 0 0 2em; }

    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

    table { border-collapse: collapse; border-spacing: 0; }
    td { vertical-align: top; }

    @media only screen and (min-width: 480px) {
        body{font-size:14px;}
    }

    @media only screen and (min-width: 768px) {
        body{font-size:16px;}
    }

    @media print {
        * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
        body{font-size:12pt; max-width:100%;}
        a, a:visited { text-decoration: underline; }
        hr { height: 1px; border:0; border-bottom:1px solid black; }
        a[href]:after { content: " (" attr(href) ")"; }
        abbr[title]:after { content: " (" attr(title) ")"; }
        .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
        pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
        tr, img { page-break-inside: avoid; }
        img { max-width: 100% !important; }
        ///@page :left { margin: 15mm 20mm 15mm 10mm; }
        ///@page :right { margin: 15mm 10mm 15mm 20mm; }
        p, h2, h3 { orphans: 3; widows: 3; }
        h2, h3 { page-break-after: avoid; }
    }
}
.markdown-4 {
    /**
     * markdown.css
     *
     * This program is free software: you can redistribute it and/or modify it under
     * the terms of the GNU Lesser General Public License as published by the Free
     * Software Foundation, either version 3 of the License, or (at your option) any
     * later version.
     *
     * This program is distributed in the hope that it will be useful, but WITHOUT
     * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
     * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
     * details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program. If not, see http://gnu.org/licenses/lgpl.txt.
     *
     * @project      Weblog and Open Source Projects of Florian Wolters
     * @version      GIT: $Id$
     * @package      xhtml-css
     * @author       Florian Wolters <florian.wolters.85@googlemail.com>
     * @copyright    2012 Florian Wolters
     * @cssdoc       version 1.0-pre
     * @license      http://gnu.org/licenses/lgpl.txt GNU Lesser General Public License
     * @link         http://github.com/FlorianWolters/jekyll-bootstrap-theme
     * @media        all
     * @valid        true
     */

    body {
        font-family: Helvetica, Arial, Freesans, clean, sans-serif;
        padding:1em;
        margin:auto;
        max-width:42em;
        background:#fefefe;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h1 {
        color: #000000;
        font-size: 28px;
    }

    h2 {
        border-bottom: 1px solid #CCCCCC;
        color: #000000;
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        color: #777777;
        background-color: inherit;
        font-size: 14px;
    }

    hr {
        height: 0.2em;
        border: 0;
        color: #CCCCCC;
        background-color: #CCCCCC;
    }

    p, blockquote, ul, ol, dl, li, table, pre {
        margin: 15px 0;
    }

    code, pre {
        border-radius: 3px;
        background-color: #F8F8F8;
        color: inherit;
    }

    code {
        border: 1px solid #EAEAEA;
        margin: 0 2px;
        padding: 0 5px;
    }

    pre {
        border: 1px solid #CCCCCC;
        line-height: 1.25em;
        overflow: auto;
        padding: 6px 10px;
    }

    pre > code {
        border: 0;
        margin: 0;
        padding: 0;
    }

    a, a:visited {
        color: #4183C4;
        background-color: inherit;
        text-decoration: none;
    }
}
.markdown-5 {
    body{
        margin: 0 auto;
        background-color:white;

        /*	--------- FONT FAMILY --------
             following are some optional font families. Usually a family
            is safer to choose than a specific font,
            which may not be on the users computer		*/
        font-family:Georgia, Palatino, serif;
    //    font-family:"Book Antiqua", Palatino, serif;
    //    font-family:Arial, Helvetica, sans-serif;
    //    font-family:Tahoma, Verdana, Geneva, sans-serif;
    //    font-family:Courier, monospace;
    //    font-family:"Times New Roman", Times, serif;

        /*	-------------- COLOR OPTIONS ------------
             following are additional color options for base font
            you could uncomment another one to easily change the base color
            or add one to a specific element style below         */
        color: #333333; /* dark gray not black */
    //    color: #000000; /* black */
    //    color: #666666; /* medium gray  black */
    //    color: #E3E3E3; /* very light gray */
    //    color: white;

        line-height: 1;
    //    max-width: 960px;
        max-width: 800px;
        padding: 30px;
        font-size: 18px;
    }


    p   {
    //    font-size: 22px;
        line-height: 150%;
    //    max-width: 540px;
        max-width: 960px;
        font-weight: 400;
        color: #333333
    }


    h1, h2, h3, h4 {
    //    color: #111111;
        font-weight: 400;
    }

    h2, h3, h4, h5, p {
        margin-bottom: 25px;
        padding: 0;
    }

    h1 {
        margin-bottom: 10px;
        font-size:300%;
        padding: 0px;
        font-variant:small-caps;
    }

    h2 {
        font-size:150%
//    margin: 24px 0 6px;
    }

    h3 {
        font-size:120%
    }
    h4 {
        font-size:100%;
        font-variant:small-caps;

    }
    h5 {
        font-size:80%;
        font-weight: 100;
    }

    h6 {
        font-size:80%;
        font-weight: 100;
        color:red;
        font-variant:small-caps;
    }
    a {
        color: grey;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }
    a:hover {
        text-decoration: blink;
        color: green;
    }
    a:visited {
        color: black;
    }
    ul, ol {
        padding: 0;
        margin: 0px 0px 0px 50px;
    }
    ul {
        list-style-type: square;
        list-style-position: inside;

    }

    li {
        line-height:150%
    }
    li ul, li ul {
        margin-left: 24px;
    }

    pre {
        padding: 0px 24px;
        max-width: 800px;
        white-space: pre-wrap;
    }
    code {
        font-family: Consolas, Monaco, Andale Mono, monospace;
        line-height: 1.5;
        font-size: 13px;
    }
    aside {
        display: block;
        float: right;
        width: 390px;
    }
    blockquote {
        border-left:.5em solid #eee;
        padding: 0 1em;
        margin-left:0;
        max-width: 476px;
    }
    blockquote  cite {
    //   font-size:14px;
        line-height:20px;
        color:#bfbfbf;
    }
    blockquote cite:before {
        content: '\2014 \00A0';
    }

    blockquote p {
        color: #666;
        max-width: 460px;
    }
    hr {
    //    width: 540px;
        text-align: left;
        margin: 0 auto 0 0;
        color: #999;
    }
}
.markdown-6 {
    /* Extracted and interpreted from adcstyle.css and frameset_styles.css */

    /* body */
    body {
        margin: 20px auto;
        width: 800px;
        background-color: #fff;
        color: #000;
        font: 13px "Myriad Pro", "Lucida Grande", Lucida, Verdana, sans-serif;
    }

    /* links */
    a:link {
        color: #00f;
        text-decoration: none;
    }

    a:visited {
        color: #00a;
        text-decoration: none;
    }

    a:hover {
        color: #f60;
        text-decoration: underline;
    }

    a:active {
        color: #f60;
        text-decoration: underline;
    }


    /* html tags */

    /*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

    * html code	{
        font-size: 101%;
    }

    * html pre {
        font-size: 101%;
    }

    /* code */

    pre, code {
        font-size: 11px; font-family: monaco, courier, consolas, monospace;
    }

    pre {
        margin-top: 5px;
        margin-bottom: 10px;
        border: 1px solid #c7cfd5;
        background: #f1f5f9;
        margin: 20px 0;
        padding: 8px;
        text-align: left;
    }

    hr {
        color: #919699;
        ///size: 1;
        width: 100%;
        noshade: "noshade"
    }

    /* headers */


    h1, h2, h3, h4, h5, h6 {
        font-family: "Myriad Pro", "Lucida Grande", Lucida, Verdana, sans-serif;
        font-weight: bold;
    }

    h1	{
        margin-top: 1em;
        margin-bottom: 25px;
        color: #000;
        font-weight: bold;
        font-size: 30px;
    }
    h2	{
        margin-top: 2.5em;
        font-size: 24px;
        color: #000;
        padding-bottom: 2px;
        border-bottom: 1px solid #919699;
    }
    h3	{
        margin-top: 2em;
        margin-bottom: .5em;
        font-size: 17px;
        color: #000;
    }
    h4	{
        margin-top: 2em;
        margin-bottom: .5em;
        font-size: 15px;
        color: #000;
    }
    h5	{
        margin-top: 20px;
        margin-bottom: .5em;
        padding: 0;
        font-size: 13px;
        color: #000;
    }

    h6	{
        margin-top: 20px;
        margin-bottom: .5em;
        padding: 0;
        font-size: 11px;
        color: #000;
    }

    p {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    /* lists */

    ul	{
        list-style: square outside;
        margin: 0 0 0 30px;
        padding: 0 0 12px 6px;
    }

    li	{
        margin-top: 7px;
    }

    ol {
        list-style-type: decimal;
        list-style-position: outside;
        margin: 0 0 0 30px;
        padding: 0 0 12px 6px;
    }

    ol ol {
        list-style-type: lower-alpha;
        list-style-position: outside;
        margin: 7px 0 0 30px;
        padding: 0 0 0 10px;
    }

    ul ul {
        margin-left: 40px;
        padding: 0 0 0 6px;
    }

    li>p { display: inline }
    li>p+p { display: block }
    li>a+p { display: block }


    /* table */

    table {
        width: 100%;
        border-top: 1px solid #919699;
        border-left: 1px solid #919699;
        border-spacing: 0;
    }

    table th {
        padding: 4px 8px 4px 8px;
        background: #E2E2E2;
        font-size: 12px;
        border-bottom: 1px solid #919699;
        border-right: 1px solid #919699;
    }
    table th p {
        font-weight: bold;
        margin-bottom: 0px;
    }

    table td {
        padding: 8px;
        font-size: 12px;
        vertical-align: top;
        border-bottom: 1px solid #919699;
        border-right: 1px solid #919699;
    }
    table td p {
        margin-bottom: 0px;
    }
    table td p + p  {
        margin-top: 5px;
    }
    table td p + p + p {
        margin-top: 5px;
    }

    /* forms */

    form {
        margin: 0;
    }

    button {
        margin: 3px 0 10px 0;
    }
    input {
        vertical-align: middle;
        padding: 0;
        margin: 0 0 5px 0;
    }

    select {
        vertical-align: middle;
        padding: 0;
        margin: 0 0 3px 0;
    }

    textarea {
        margin: 0 0 10px 0;
        width: 100%;
    }
}
.markdown-7 {
    body {
        font-family: Helvetica, arial, sans-serif;
        font-size: 14px;
        line-height: 1.6;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        padding: 30px; }

    body > *:first-child {
        margin-top: 0 !important; }
    body > *:last-child {
        margin-bottom: 0 !important; }

    a {
        color: #4183C4; }
    a.absent {
        color: #cc0000; }
    a.anchor {
        display: block;
        padding-left: 30px;
        margin-left: -30px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0; }

    h1, h2, h3, h4, h5, h6 {
        margin: 20px 0 10px;
        padding: 0;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        cursor: text;
        position: relative; }

    h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
        text-decoration: none; }

    h1 tt, h1 code {
        font-size: inherit; }

    h2 tt, h2 code {
        font-size: inherit; }

    h3 tt, h3 code {
        font-size: inherit; }

    h4 tt, h4 code {
        font-size: inherit; }

    h5 tt, h5 code {
        font-size: inherit; }

    h6 tt, h6 code {
        font-size: inherit; }

    h1 {
        font-size: 28px;
        color: black; }

    h2 {
        font-size: 24px;
        border-bottom: 1px solid #cccccc;
        color: black; }

    h3 {
        font-size: 18px; }

    h4 {
        font-size: 16px; }

    h5 {
        font-size: 14px; }

    h6 {
        color: #777777;
        font-size: 14px; }

    p, blockquote, ul, ol, dl, li, table, pre {
        margin: 15px 0; }

    hr {
        border: 0 none;
        color: #cccccc;
        height: 4px;
        padding: 0;
    }

    body > h2:first-child {
        margin-top: 0;
        padding-top: 0; }
    body > h1:first-child {
        margin-top: 0;
        padding-top: 0; }
    body > h1:first-child + h2 {
        margin-top: 0;
        padding-top: 0; }
    body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
        margin-top: 0;
        padding-top: 0; }

    a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
        margin-top: 0;
        padding-top: 0; }

    h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
        margin-top: 0; }

    li p.first {
        display: inline-block; }
    li {
        margin: 0; }
    ul, ol {
        padding-left: 30px; }

    ul :first-child, ol :first-child {
        margin-top: 0; }

    dl {
        padding: 0; }
    dl dt {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        padding: 0;
        margin: 15px 0 5px; }
    dl dt:first-child {
        padding: 0; }
    dl dt > :first-child {
        margin-top: 0; }
    dl dt > :last-child {
        margin-bottom: 0; }
    dl dd {
        margin: 0 0 15px;
        padding: 0 15px; }
    dl dd > :first-child {
        margin-top: 0; }
    dl dd > :last-child {
        margin-bottom: 0; }

    blockquote {
        border-left: 4px solid #dddddd;
        padding: 0 15px;
        color: #777777; }
    blockquote > :first-child {
        margin-top: 0; }
    blockquote > :last-child {
        margin-bottom: 0; }

    table {
        padding: 0;border-collapse: collapse; }
    table tr {
        border-top: 1px solid #cccccc;
        background-color: white;
        margin: 0;
        padding: 0; }
    table tr:nth-child(2n) {
        background-color: #f8f8f8; }
    table tr th {
        font-weight: bold;
        border: 1px solid #cccccc;
        margin: 0;
        padding: 6px 13px; }
    table tr td {
        border: 1px solid #cccccc;
        margin: 0;
        padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
        margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
        margin-bottom: 0; }

    img {
        max-width: 100%; }

    span.frame {
        display: block;
        overflow: hidden; }
    span.frame > span {
        border: 1px solid #dddddd;
        display: block;
        float: left;
        overflow: hidden;
        margin: 13px 0 0;
        padding: 7px;
        width: auto; }
    span.frame span img {
        display: block;
        float: left; }
    span.frame span span {
        clear: both;
        color: #333333;
        display: block;
        padding: 5px 0 0; }
    span.align-center {
        display: block;
        overflow: hidden;
        clear: both; }
    span.align-center > span {
        display: block;
        overflow: hidden;
        margin: 13px auto 0;
        text-align: center; }
    span.align-center span img {
        margin: 0 auto;
        text-align: center; }
    span.align-right {
        display: block;
        overflow: hidden;
        clear: both; }
    span.align-right > span {
        display: block;
        overflow: hidden;
        margin: 13px 0 0;
        text-align: right; }
    span.align-right span img {
        margin: 0;
        text-align: right; }
    span.float-left {
        display: block;
        margin-right: 13px;
        overflow: hidden;
        float: left; }
    span.float-left span {
        margin: 13px 0 0; }
    span.float-right {
        display: block;
        margin-left: 13px;
        overflow: hidden;
        float: right; }
    span.float-right > span {
        display: block;
        overflow: hidden;
        margin: 13px auto 0;
        text-align: right; }

    code, tt {
        margin: 0 2px;
        padding: 0 5px;
        white-space: nowrap;
        border: 1px solid #eaeaea;
        background-color: #f8f8f8;
        border-radius: 3px; }

    pre code {
        margin: 0;
        padding: 0;
        white-space: pre;
        border: none;
        background: transparent; }

    .highlight pre {
        background-color: #f8f8f8;
        border: 1px solid #cccccc;
        font-size: 13px;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px; }

    pre {
        background-color: #f8f8f8;
        border: 1px solid #cccccc;
        font-size: 13px;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px; }
    pre code, pre tt {
        background-color: transparent;
        border: none; }

    sup {
        font-size: 0.83em;
        vertical-align: super;
        line-height: 0;
    }
    * {
        -webkit-print-color-adjust: exact;
    }
    @media screen and (min-width: 914px) {
        body {
            width: 854px;
            margin:0 auto;
        }
    }
    @media print {
        table, pre {
            page-break-inside: avoid;
        }
        pre {
            word-wrap: break-word;
        }
    }
}
.markdown-8 {
    h1, h2, h3, h4, h5, h6, p, blockquote {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #737373;
        background-color: white;
        margin: 10px 13px 10px 13px;
    }
    table {
        margin: 10px 0 15px 0;
        border-collapse: collapse;
    }
    td,th {
        border: 1px solid #ddd;
        padding: 3px 10px;
    }
    th {
        padding: 5px 10px;
    }

    a {
        color: #0069d6;
    }
    a:hover {
        color: #0050a3;
        text-decoration: none;
    }
    a img {
        border: none;
    }
    p {
        margin-bottom: 9px;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #404040;
        line-height: 36px;
    }
    h1 {
        margin-bottom: 18px;
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 13px;
    }
    hr {
        margin: 0 0 19px;
        border: 0;
        border-bottom: 1px solid #ccc;
    }
    blockquote {
        padding: 13px 13px 21px 15px;
        margin-bottom: 18px;
        font-family:georgia,serif;
        font-style: italic;
    }
    blockquote:before {
        content:"\201C";
        font-size:40px;
        margin-left:-10px;
        font-family:georgia,serif;
        color:#eee;
    }
    blockquote p {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 0;
        font-style: italic;
    }
    code, pre {
        font-family: Monaco, Andale Mono, Courier New, monospace;
    }
    code {
        background-color: #fee9cc;
        color: rgba(0, 0, 0, 0.75);
        padding: 1px 3px;
        font-size: 12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    pre {
        display: block;
        padding: 14px;
        margin: 0 0 18px;
        line-height: 16px;
        font-size: 11px;
        border: 1px solid #d9d9d9;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    pre code {
        background-color: #fff;
        color:#737373;
        font-size: 11px;
        padding: 0;
    }
    sup {
        font-size: 0.83em;
        vertical-align: super;
        line-height: 0;
    }
    * {
        -webkit-print-color-adjust: exact;
    }
    @media screen and (min-width: 914px) {
        body {
            width: 854px;
            margin:10px auto;
        }
    }
    @media print {
        body,code,pre code,h1,h2,h3,h4,h5,h6 {
            color: black;
        }
        table, pre {
            page-break-inside: avoid;
        }
    }
}
.markdown-9 {
    h1, h2, h3, h4, h5, h6, p, blockquote {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #fff;
        background-color: #110F14;
        margin: 10px 13px 10px 13px;
    }
    table {
        margin: 10px 0 15px 0;
        border-collapse: collapse;
    }
    td,th {
        border: 1px solid #ddd;
        padding: 3px 10px;
    }
    th {
        padding: 5px 10px;
    }
    a {
        color: #59acf3;
    }
    a:hover {
        color: #a7d8ff;
        text-decoration: none;
    }
    a img {
        border: none;
    }
    p {
        margin-bottom: 9px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        line-height: 36px;
    }
    h1 {
        margin-bottom: 18px;
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 13px;
    }
    hr {
        margin: 0 0 19px;
        border: 0;
        border-bottom: 1px solid #ccc;
    }
    blockquote {
        padding: 13px 13px 21px 15px;
        margin-bottom: 18px;
        font-family:georgia,serif;
        font-style: italic;
    }
    blockquote:before {
        content:"\201C";
        font-size:40px;
        margin-left:-10px;
        font-family:georgia,serif;
        color:#eee;
    }
    blockquote p {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 0;
        font-style: italic;
    }

    code, pre {
        font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
    }

    code {
        padding: 1px 3px;
        font-size: 12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #334;
    }

    pre {
        display: block;
        padding: 14px;
        margin: 0 0 18px;
        line-height: 16px;
        font-size: 11px;
        border: 1px solid #334;
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
        background-color: #282a36;
        border-radius: 6px;
    }
    pre code {
        font-size: 11px;
        padding: 0;
        background: transparent;
        color: white;
    }
    sup {
        font-size: 0.83em;
        vertical-align: super;
        line-height: 0;
    }
    * {
        -webkit-print-color-adjust: exact;
    }
    @media screen and (min-width: 914px) {
        body {
            width: 854px;
            margin:10px auto;
        }
    }
    @media print {
        body,code,pre code,h1,h2,h3,h4,h5,h6 {
            color: black;
        }
        table, pre {
            page-break-inside: avoid;
        }
    }
}
.markdown-10 {
    *{margin:0;padding:0;}
    body {
        font:13.34px helvetica,arial,freesans,clean,sans-serif;
        color:black;
        line-height:1.4em;
        background-color: #F8F8F8;
        padding: 0.7em;
    }
    p {
        margin:1em 0;
        line-height:1.5em;
    }
    table {
        font-size:inherit;
        ///font:100%;
        margin:1em;
    }
    table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
    table td{border-bottom:1px solid #ddd;padding:.2em 1em;}
    input[type=text],input[type=password],input[type=image],textarea{font:99% helvetica,arial,freesans,sans-serif;}
    select,option{padding:0 .25em;}
    optgroup{margin-top:.5em;}
    pre,code{font:12px Menlo, Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono",monospace;}
    pre {
        margin:1em 0;
        font-size:12px;
        background-color:#eee;
        border:1px solid #ddd;
        padding:5px;
        line-height:1.5em;
        color:#444;
        overflow:auto;
        -webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;border-radius:3px;
    }
    pre code {
        padding:0;
        font-size:12px;
        background-color:#eee;
        border:none;
    }
    code {
        font-size:12px;
        background-color:#f8f8ff;
        color:#444;
        padding:0 .2em;
        border:1px solid #dedede;
    }
    img{border:0;max-width:100%;}
    abbr{border-bottom:none;}
    a{color:#4183c4;text-decoration:none;}
    a:hover{text-decoration:underline;}
    a code,a:link code,a:visited code{color:#4183c4;}
    h2,h3{margin:1em 0;}
    h1,h2,h3,h4,h5,h6{border:0;}
    h1{font-size:170%;border-top:4px solid #aaa;padding-top:.5em;margin-top:1.5em;}
    h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}
    h2{font-size:150%;margin-top:1.5em;border-top:4px solid #e0e0e0;padding-top:.5em;}
    h3{margin-top:1em;}
    hr{border:1px solid #ddd;}
    ul{margin:1em 0 1em 2em;}
    ol{margin:1em 0 1em 2em;}
    ul li,ol li{margin-top:.5em;margin-bottom:.5em;}
    ul ul,ul ol,ol ol,ol ul{margin-top:0;margin-bottom:0;}
    blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;}
    dt{font-weight:bold;margin-left:1em;}
    dd{margin-left:2em;margin-bottom:1em;}
    sup {
        font-size: 0.83em;
        vertical-align: super;
        line-height: 0;
    }
    * {
        -webkit-print-color-adjust: exact;
    }
    @media screen and (min-width: 914px) {
        body {
            width: 854px;
            margin:0 auto;
        }
    }
    @media print {
        table, pre {
            page-break-inside: avoid;
        }
        pre {
            word-wrap: break-word;
        }
    }
}
.markdown-alt {
    body {
        line-height: 1.4em;
        color: black;
        padding:1em;
        margin:auto;
        max-width:42em;
    }

    li {
        color: black;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border: 0 none !important;
    }

    h1 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-bottom: 2px solid #000080 !important;
    }

    h2 {
        margin-top: 1em;
        margin-bottom: 0.5em;
        border-bottom: 2px solid #000080 !important;
    }

    pre {
        background-color: #f8f8f8;
        border: 1px solid #2f6fab;
        border-radius: 3px;
        overflow: auto;
        padding: 5px;
    }

    pre code {
        background-color: inherit;
        border: none;
        padding: 0;
    }

    code {
        background-color: #ffffe0;
        border: 1px solid orange;
        border-radius: 3px;
        padding: 0 0.2em;
    }

    a {
        text-decoration: underline;
    }

    ul, ol {
        padding-left: 30px;
    }

    li {
        margin: 0.2em 0 0 0em; padding: 0px;
    }

    em {
        color: #b05000;
    }

    table.text th, table.text td {
        vertical-align: top;
        border-top: 1px solid #ccc;
        padding:5px;
    }
}
.markdown-tezarius {
    a{ color: #0645ad; text-decoration:none;}
    a:visited{ color: #0b0080; }
    a:hover{ color: #06e; }
    a:active{ color:#faa700; }
    a:focus{ outline: thin dotted; }
    a:hover, a:active{ outline: 0; }

    ::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
    ::selection{background:rgba(255,255,0,0.3);color:#000}

    a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
    a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

    p{
        margin:1em 0;
    }

    img{
        max-width:100%;
    }

    h1,h2,h3,h4,h5,h6{
        font-weight:normal;
        ///color:#111;
        line-height:1em;
    }
    h4,h5,h6{ font-weight: bold; }
    h1{ font-size:2.5em; }
    h2{ font-size:2em; }
    h3{ font-size:1.5em; }
    h4{ font-size:1.2em; }
    h5{ font-size:1em; }
    h6{ font-size:0.9em; }

    hr { display: block; height: 2px; border: 0; border-top: 1px solid #ddd; margin: 1em 0; padding: 0; }
    kbd, samp { color: #000; font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 0.98em; }

    blockquote {
        border-left: 4px solid #dddddd;
        padding: 0 15px;
        color: #777777; }
    blockquote > :first-child {
        margin-top: 0; }
    blockquote > :last-child {
        margin-bottom: 0; }
    blockquote p {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 0;
        ///font-style: italic;
    }

    code, pre {
        font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
    }
    code {
        background-color: #ffffe0;
        border: 1px solid orange;
        border-radius: 3px;
        padding: 0 0.2em;
    }
    pre {
        display: block;
        padding: 14px;
        margin: 0 0 18px;
        line-height: 16px;
        font-size: 11px;
        border: 1px solid #334;
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
        background-color: #282a36;
        border-radius: 6px;
    }
    pre code {
        font-size: 11px;
        padding: 0;
        background: transparent;
        color: white;
        border: none;
    }


    b, strong { font-weight: bold; }

    dfn { font-style: italic; }

    ins { background: #ff9; color: #000; text-decoration: none; }

    mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
    li p:last-child { margin:0 }
    dd { margin: 0 0 0 2em; }

    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


    table {
        padding: 0;border-collapse: collapse; }
    table tr {
        border-top: 1px solid #cccccc;
        background-color: white;
        margin: 0;
        padding: 0; }
    table tr:nth-child(2n) {
        background-color: #f8f8f8; }
    table tr th {
        font-weight: bold;
        border: 1px solid #cccccc;
        margin: 0;
        padding: 6px 13px; }
    table tr td {
        border: 1px solid #cccccc;
        margin: 0;
        padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
        margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
        margin-bottom: 0; }

    @media only screen and (min-width: 480px) {
        body{font-size:14px;}
    }

    @media only screen and (min-width: 768px) {
        body{font-size:16px;}
    }

    @media print {
        * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
        body{font-size:12pt; max-width:100%;}
        a, a:visited { text-decoration: underline; }
        hr { height: 1px; border:0; border-bottom:1px solid black; }
        a[href]:after { content: " (" attr(href) ")"; }
        abbr[title]:after { content: " (" attr(title) ")"; }
        .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
        pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
        tr, img { page-break-inside: avoid; }
        img { max-width: 100% !important; }
        ///@page :left { margin: 15mm 20mm 15mm 10mm; }
        ///@page :right { margin: 15mm 10mm 15mm 20mm; }
        p, h2, h3 { orphans: 3; widows: 3; }
        h2, h3 { page-break-after: avoid; }
    }
}




/*!
 * Custom Project SCSS
 */
@mixin respond-to($media) {
    @if $media == tablet {
        @media (max-width: 979px) { @content; }
    }
    @if $media == mobile {
        @media (max-width: 767px) { @content; }
    }
    @if $media == 600 {
        @media (max-width: 599px) { @content; }
    }
    @if $media == 500 {
        @media (max-width: 499px) { @content; }
    }
    @if $media == 450 {
        @media (max-width: 449px) { @content; }
    }
    @if $media == 400 {
        @media (max-width: 399px) { @content; }
    }
    @if $media == 350 {
        @media (max-width: 349px) { @content; }
    }
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.ellipsis, .overflow-ellipsis { // OR text-truncate FROM bootstrap
    text-overflow: ellipsis;
    overflow: hidden;
    &.height-limit {
        position: relative;
        &:after {
            content: '...';
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
.nowrap { white-space: nowrap; }
.break-word { overflow-wrap: break-word; }
.h {
    &-1rem{height:1rem}&-1_1rem{height:1.1rem}&-1_2rem{height:1.2rem}&-1_3rem{height:1.3rem}&-1_4rem{height:1.4rem}&-1_5rem{height:1.5rem}
    &-2rem{height:2rem}&-2_5rem{height:2.5rem}
    &-3rem{height:3rem}&-3_5rem{height:3.5rem}
    &-4rem{height:4rem}&-4_5rem{height:4.5rem}
    &-5rem{height:5rem}&-5_5rem{height:5.5rem}
    &-6rem{height:6rem}&-6_5rem{height:6.5rem}
    &-7rem{height:7rem}&-7_5rem{height:7.5rem}
    &-8rem{height:8rem}&-8_5rem{height:8.5rem}
    &-9rem{height:9rem}&-9_5rem{height:9.5rem}
    &-10rem{height:10rem}
}
.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* номер строки где указывается троеточие */
    -webkit-box-orient: vertical;
    &.clamp-2 { -webkit-line-clamp: 2; }
    &.clamp-3 { -webkit-line-clamp: 3; }
    &.clamp-4 { -webkit-line-clamp: 4; }
    &.clamp-5 { -webkit-line-clamp: 5; }
    &.clamp-6 { -webkit-line-clamp: 6; }
    &.clamp-7 { -webkit-line-clamp: 7; }
}
.black-white {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.dropdown-menu {
    &.dropdown-13 {
        .dropdown-item {
            font-size: 1.3rem;
            i {
                font-size: 1.3rem;
                width: 1.3rem;
                height: 1.3rem;
            }
        }
    }
    &.dropdown-w-10 { width: 10rem; } &.dropdown-w-11 { width: 11rem; } &.dropdown-w-12 { width: 12rem; } &.dropdown-w-13 { width: 13rem; } &.dropdown-w-14 { width: 14rem; }
    &.dropdown-w-15 { width: 15rem; } &.dropdown-w-16 { width: 16rem; } &.dropdown-w-17 { width: 17rem; } &.dropdown-w-18 { width: 18rem; } &.dropdown-w-19 { width: 19rem; }
    &.dropdown-w-20 { width: 20rem; }
}
.image-center {
    position: relative;
    display: block;
    margin: auto;
    white-space: nowrap;
    text-align: center;
    &#logo {
        width: 17rem; /// 240px;
        height: 7rem; /// 100px;
    }
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    img {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
    }
}
/// https://codepen.io/borodatych/pen/oNXXjNM
.custom-control{
    --theme: #4cd964;
    &.success { --theme: var(--success); }
    &.danger { --theme: var(--danger); }
    &.primary { --theme: var(--primary); }
    &.dark { --theme: var(--dark); }
    &.light { --theme: var(--light); }
    &.white { --theme: var(--white); }
    &.orange { --theme: var(--orange); }
    &.secondary { --theme: var(--secondary); }

    &.material-checkbox{
        --color: var(--theme);

        .material-control-input{
            display: none;
            &:checked~.material-control-indicator{
                border-color: var(--color);
                transform: rotateZ(45deg) translate(1px, -5px);
                width: 10px;
                border-top: 0px solid #fff;
                border-left: 0px solid #fff;
            }
        }
        .material-control-indicator{
            display: inline-block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
            border: 2px solid #aaa;
            transition: .3s;
        }
        &.several-selected {
            .material-control-indicator{
                border-color: var(--color);
            }
        }
    }

    &.fill-checkbox{
        --color: var(--theme);

        .fill-control-input{
            display: none;
            &:checked~.fill-control-indicator{
                background-color: var(--color);
                border-color: var(--color);
                background-size: 80%;
            }
        }
        .fill-control-indicator{
            border-radius: 3px;
            display: inline-block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
            border: 2px solid #aaa;
            transition: .3s;
            background: transperent;
            background-size: 0%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }
    }

    &.overflow-checkbox{
        .overflow-control-input{
            display: none;

            &:checked~.overflow-control-indicator{
                &::after{
                    transform: rotateZ(45deg) scale(1);
                    top: -6px;
                    left: 5px;
                }

                &::before{
                    opacity: 1;
                }
            }
        }
        .overflow-control-indicator{
            border-radius: 3px;
            display: inline-block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
            border: 2px solid #aaa;

            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                transition: .3s;
                transform: rotateZ(90deg) scale(0);
                width: 10px;
                border-bottom: 4px solid #aaa;
                border-right: 4px solid #aaa;
                border-radius: 3px;
                top: -2px;
                left: 2px;
            }

            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                transition: .3s;
                width: 10px;
                border-right: 7px solid #fff;
                border-radius: 3px;
                transform: rotateZ(45deg) scale(1);
                top: -4px;
                left: 5px;
                opacity: 0;
            }
        }
    }

    &.material-switch{
        --color: var(--theme);
        padding-left: 0;

        .material-switch-control-input{
            display: none;
            &:checked~.material-switch-control-indicator{

                &::after{
                    background-color: var(--color);
                    left: 17px;
                }
            }
        }
        .material-switch-control-indicator{
            display: inline-block;
            position: relative;
            margin: 0 10px;
            top: 4px;
            width: 32px;
            height: 16px;
            background: #ddd;
            border-radius: 16px;
            transition: .3s;

            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                transition: .3s;
                top: -1px;
                left: -1px;
                background: #fdfdfd;
                box-shadow: 0 2px 10px #aaa;
            }
        }
    }

    &.ios-switch{
        --color: var(--theme);
        padding-left: 0;

        .ios-switch-control-input{
            display: none;

            &:active~.ios-switch-control-indicator{
                &::after{
                    width: 20px;
                }
            }

            &:checked{
                ~.ios-switch-control-indicator{
                    border: 10px solid var(--color);

                    &::after{
                        top: -8px;
                        left: 4px;
                    }
                }

                &:active~.ios-switch-control-indicator{
                    &::after{
                        left: 0px;
                    }
                }
            }
        }
        .ios-switch-control-indicator{
            display: inline-block;
            position: relative;
            margin: 0 10px;
            top: 4px;
            width: 32px;
            height: 20px;
            background: #fff;
            border-radius: 16px;
            transition: .3s;
            border: 2px solid #ddd;

            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                transition: .3s;
                top: 0px;
                left: 0px;
                background: #fff;
                box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
            }
        }
    }

    &.border-switch{
        --color: var(--theme);
        padding-left: 0;

        .border-switch-control-input{
            display: none;
            &:checked~.border-switch-control-indicator{
                border-color: var(--color);

                &::after{
                    left: 14px;
                    background-color: var(--color);
                }
            }
        }
        .border-switch-control-indicator{
            display: inline-block;
            position: relative;
            margin: 0 10px;
            top: 4px;
            width: 32px;
            height: 20px;
            background: #fff;
            border-radius: 16px;
            transition: .3s;
            border: 2px solid #ccc;

            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                transition: .3s;
                top: 2px;
                left: 2px;
                background: #ccc;
            }
        }
    }

    &.teleport-switch{
        --color: var(--theme);
        padding-left: 0;

        .teleport-switch-control-input{
            display: none;
            &:checked~.teleport-switch-control-indicator{
                border-color: var(--color);

                &::after{
                    left: -14px;
                }

                &::before{
                    right: 2px;
                    background-color: var(--color);
                }
            }
        }
        .teleport-switch-control-indicator{
            display: inline-block;
            position: relative;
            margin: 0 10px;
            top: 4px;
            width: 32px;
            height: 20px;
            background: #fff;
            border-radius: 16px;
            transition: .3s;
            border: 2px solid #ccc;
            overflow: hidden;

            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                transition: .3s;
                top: 2px;
                left: 2px;
                background: #ccc;
            }

            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                transition: .3s;
                top: 2px;
                right: -14px;
                background: #ccc;
            }
        }
    }
}

.list-group{
    &:first-child .list-group-control:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    &::last-child .list-group-control:last-child {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    &.list-group-flush{
        &:last-child{
            .list-group-control:last-child {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }

        &:first-child{
            .list-group-control:first-child {
                border-top: 0;
            }
        }

        .list-group-control {
            border-right: 0;
            border-left: 0;
            border-radius: 0;
        }
    }

    .list-group-control{
        position: relative;
        display: block;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);

        .custom-control{
            margin: 0;
            padding: .75rem 1.25rem;
            padding-left: 3rem;
            display: block;

            .custom-control-indicator, .material-control-indicator, .fill-control-indicator, .overflow-control-indicator{
                top: 1rem;
                left: 1.25rem;
            }
        }
    }
}
#h-contacts {
    .ico-custom-phone {
        color: #aaa;
        width: 1.6rem;
        height: 1.6rem;
    }
}
.card-icon {
    line-height: 42px;
    width: 50px;
    text-align: center;
    font-size: 42px;
    color: #aaa;
}
.card:hover .card-icon {
    color: var(--danger);
}
.alert {
    .alert-icon{ float:left; margin-right:1rem; }
    .alert-close{ float:right; margin-left:1rem; }
    .alert-text{ overflow:hidden; }
}
#aftermarket-types {
    .card {
        svg {
            fill: var(--primary);
            height: auto;
            ///padding: 20px 20px 0;
            width: 50%;
            margin: auto;
        }
    }
}
.table-grid {
    .row-root {
        margin-top: -1px;
        padding-top: 7px;
        padding-bottom: 7px;
        border: 1px solid lightgray;
        &:first-child {
            border-radius: 4px 4px 0 0;
        }
        &:last-child {
            border-radius: 0 0 4px 4px;
        }
        & a {
            color: inherit;
            border-color: inherit;
            &:hover { border:none; }
        }
        & div {
            &.open { position:static; }
        }
        & .alert {
            border-top: 0;
            margin: -1px 0 0 0;
        }
    }
}
/*/
div.required label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}
//*/
#loader-box {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #0000008a;
    z-index: 9999;
    display: none;
    & #loader-1 {
        bottom: 0;
        height: 175px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 175px;
        & .dot {
            bottom: 0;
            height: 100%;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 87.5px;
        }
        & .dot::before {
            border-radius: 100%;
            content: "";
            height: 87.5px;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transform: scale(0);
            width: 87.5px;
        }
        & .dot:nth-child(7n+1) {
            transform: rotate(45deg);
        }
        & .dot:nth-child(7n+1)::before {
            animation: 0.8s linear 0.1s normal none infinite running load;
            background: #00ff80 none repeat scroll 0 0;
        }
        & .dot:nth-child(7n+2) {
            transform: rotate(90deg);
        }
        & .dot:nth-child(7n+2)::before {
            animation: 0.8s linear 0.2s normal none infinite running load;
            background: #00ffea none repeat scroll 0 0;
        }
        & .dot:nth-child(7n+3) {
            transform: rotate(135deg);
        }
        & .dot:nth-child(7n+3)::before {
            animation: 0.8s linear 0.3s normal none infinite running load;
            background: #00aaff none repeat scroll 0 0;
        }
        & .dot:nth-child(7n+4) {
            transform: rotate(180deg);
        }
        & .dot:nth-child(7n+4)::before {
            animation: 0.8s linear 0.4s normal none infinite running load;
            background: #0040ff none repeat scroll 0 0;
        }
        & .dot:nth-child(7n+5) {
            transform: rotate(225deg);
        }
        & .dot:nth-child(7n+5)::before {
            animation: 0.8s linear 0.5s normal none infinite running load;
            background: #2a00ff none repeat scroll 0 0;
        }
        & .dot:nth-child(7n+6) {
            transform: rotate(270deg);
        }
        & .dot:nth-child(7n+6)::before {
            animation: 0.8s linear 0.6s normal none infinite running load;
            background: #9500ff none repeat scroll 0 0;
        }
        & .dot:nth-child(7n+7) {
            transform: rotate(315deg);
        }
        & .dot:nth-child(7n+7)::before {
            animation: 0.8s linear 0.7s normal none infinite running load;
            background: magenta none repeat scroll 0 0;
        }
        & .dot:nth-child(7n+8) {
            transform: rotate(360deg);
        }
        & .dot:nth-child(7n+8)::before {
            animation: 0.8s linear 0.8s normal none infinite running load;
            background: #ff0095 none repeat scroll 0 0;
        }
        /*
        & .lading {
            background-image: url("../images/loading.gif");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            bottom: -40px;
            height: 20px;
            left: 0;
            position: absolute;
            right: 0;
            width: 180px;
        }
        */
        @keyframes load {
            100% {
                opacity: 0;
                transform: scale(1);
            }
        }
        @keyframes load {
            100% {
                opacity: 0;
                transform: scale(1);
            }
        }
    }
    & #loader-2 {
        position: absolute;
        margin: auto;
        top: 45%;
        left: 45%;
    }
}
.product-gallery {
    .img-fluid {
        max-height: 200px;
    }
}
#price-offers {
    #view-table-grid, #view-list-grid {
        display: none;
        &.show {
            display: block;
        }
    }
}

.mobile-table{
    thead {
        @include respond-to(mobile){
            display: none;
        }
    }
    tbody{
        /* border-top:1px solid #DFDFDF;*/
        @include respond-to(mobile){
            display: block;
        }
    }
    tr{
        @include respond-to(mobile){
            position: relative;
            display: inline-block;
            width: 100%;
            /* padding: 0 0 10px 0;*/
            &:last-child{
                padding: 0;
            }
        }
    }
    th{
        text-align: center;
        &:first-child{
            text-align: left;
        }
    }
    td{
        text-align: center;
        box-sizing: border-box;
        &:first-child{
            text-align: left;
        }
        @include respond-to(mobile){
            display: block;
            width: 100%;
            text-align: left;
            clear: both;
            &:before {
                content: attr(data-label);
                float: left;
                margin: 0 10px 1px 0;
                font-weight: bold;
                text-align: left;
            }
            &.empty-data{
                &:before{
                    margin: 0 0 1px 0;
                }
            }
            &.position-cell{
                position: absolute;
                width: auto;
                right: 0;
                bottom: 0;
            }
        }

    }
    &.label-brake{
        td{
            @include respond-to(mobile){
                &:before {
                    float: none;
                    display: block;
                }
            }
        }
    }
    &.text-left{
        td{
            text-align: left;
        }
    }
    &.border-top-bottom{
        border-collapse: collapse;
        tr{
            border-color: gray;
            border-bottom: 1px solid;
            &:first-child{
                border-top: 1px solid;
            }
        }
    }
    .hidden{
        display: none;
        font-weight: bold;
        @include respond-to(mobile){
            display: block;
            float: left;
            height: 100%;
        }
    }
}
.user-table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    & thead {
        &.dark { background-color: #666; color: #fff }
        &.light { background-color: #ececec; color: #474747 }
    }
    & tbody tr:hover { background-color: #f5f5f5
    }
    tbody{
        border-top:1px solid #DFDFDF;
        @include respond-to(mobile){
            border-top: none;
        }
    }
    tr{
        border-bottom:1px solid #DFDFDF;
        &:last-child{
            border-bottom: none;
        }
        @include respond-to(mobile){
            position: relative;
            display: block;
            width: 100%;
            border-bottom: none;
            border-top: 2px solid #000;
            &.tr-search:hover{
                padding-right: 0 !important;
            }
            &:last-child{
                border-bottom: 2px solid #000;
            }
            &.fix-tr{
                display: inherit;
                border-top: none;
                word-break: break-all;
            }
        }
    }
    th{
        padding: 10px;
        box-sizing: border-box;
        /*border-bottom:1px solid #DFDFDF;*/
        text-align: center;
        font-size: 14px;
        @include respond-to(tablet){
            padding: 2px;
            font-size: 12px;
        }
    }
    td{
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        @include respond-to(tablet){
            padding: 2px;
            font-size: 12px;
        }
        @include respond-to(mobile){
            text-align: left;
        }
        input[type="tel"], input[type="number"], input[type="text"], input[type="password"], select {
            @include respond-to(tablet){
                padding: 5px;
            }
        }
        /* @include respond-to(mobile){*/
        /*   display: block;*/
        /*   width: 100%;*/
        /*   //text-align: left;*/
        /*   text-align: right;*/
        /*   &:before {*/
        /*     content: attr(data-label);*/
        /*     float: left;*/
        /*     width: 92px;*/
        /*     margin: 0 10px 0 0;*/
        /*     font-weight: bold;*/
        /*     text-align: left;*/
        /*   }*/
        /* }*/
        &.green{
            color: #339900;
            font-weight: bold;
        }
        &.red{
            color: #d60f06;
            font-weight: bold;
        }
        &.yellow{
            color: #d60f06;
            font-weight: bold;
        }
        &.black-attr{
            &:before{
                color: #000;
            }
        }
        &.cell-quantity{
            font-size: 0;
        }
    }
    .table-buttons{
        width: 90px;
        @include respond-to(mobile){
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            text-align: right;
        }
    }
    input[type="tel"], input[type="number"], input[type="text"], input[type="password"], select {
        &:focus{
            border: 1px solid #d60f06;
        }
    }
    &__history{
        tr{
            @include respond-to(mobile){
                &:first-child{
                    border-top: none;
                }
            }
        }
        th,td{
            width: 15%;
            &:first-child{
                text-align: left;
            }
            &:last-child{
                width: 55%;
                @include respond-to(mobile){
                    width: 100%;
                }
            }
            @include respond-to(mobile){
                width: 100%;
            }
        }
    }
}
.carousel-brands img { height: 50px }
.list-payments img { height: 20px }

#common-home {
    #news {
        .preview {
            max-height: 150px;
            overflow: hidden;
        }
    }
}


/// SIDEBAR CHAT + CATEGORY MENU
.sidebar-collapse {
    position: fixed;
    top: 0;
    right: -20rem;
    z-index: 999;
    transition: all 0.3s;
    visibility: hidden;
    width: 20rem;
    height: 100vh;
    ///background: var(--white);
    ///color: var(--dark);
    &.sidebar-30 { width: 30rem; right: -30rem; }

    .dismiss {
        width: 2.4rem;
        height: 2.4rem;
        text-align: center;
        position: absolute;
        top: .8rem;
        left: .8rem;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        &#chat-dismiss{}
    }

    .sidebar-container {
        display: flex; /* displays flex-items (children) inline */
        flex-direction: column; /* stacks them vertically */
        height: 100vh; /* needs to take the parents height, alternative: body {display: flex} */
        .sidebar-header, .sidebar-content, .sidebar-footer {
            padding: 0.8rem;
            width: 100%;
        }
        .sidebar-header {
            padding-left: 4rem;
            font-size: 1.6rem;
            text-align: center;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .sidebar-content {
            flex: 1; /* takes the remaining height of the "container" div */
            overflow: auto; /* to scroll just the "main" div */
            &#chat-messages{
                .message {
                    color: #000;
                    clear: both;
                    line-height: 18px;
                    font-size: 15px;
                    padding: 8px;
                    position: relative;
                    margin: 8px 0;
                    max-width: 85%;
                    word-wrap: break-word;
                    z-index: 0;
                    &.sent {
                        background: #caf7e1;
                        border-radius: 5px 0 5px 5px;
                        float: right;
                        &:after {
                            border-width: 0 0 10px 10px;
                            border-color: transparent transparent transparent #caf7e1;
                            top: 0;
                            right: -10px;
                        }
                    }
                    &.received {
                        background: #c7dcff;
                        border-radius: 0 5px 5px 5px;
                        float: left;
                        &:after {
                            border-width: 0 10px 10px 0;
                            border-color: transparent #c7dcff transparent transparent;
                            top: 0;
                            left: -10px;
                        }
                    }
                    .metadata {
                        display: inline-block;
                        float: right;
                        padding: 0 0 0 7px;
                        position: relative;
                        bottom: -4px;
                        .time {
                            color: rgba(0,0,0,.45);
                            font-size: 11px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .sidebar-footer {
            #chatFormPublish {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                overflow: hidden;
                z-index: 2;
                .input-msg {
                    background: #fff;
                    height: 3rem;
                    border: 0;
                    flex: 1 1 auto;
                    font-size: 1.3rem;
                    outline: none;
                    min-width: 2rem;
                }
                .photo {
                    flex: 0 0 auto;
                    border-radius: 0 0 5px 0;
                    text-align: center;
                    position: relative;
                    width: 3rem;
                    height: 3rem;
                    i {
                        display: block;
                        color: #7d8488;
                        font-size: 2rem;
                        transform: translate(-50%,-50%);
                        position: relative;
                        top: 50%;
                        left: 50%;
                    }
                }
                .send {
                    background: transparent;
                    border: 0;
                    cursor: pointer;
                    flex: 0 0 auto;
                    padding: 0;
                    position: relative;
                    outline: none;
                    .circle {
                        background: #008a7c;
                        border-radius: 50%;
                        color: #fff;
                        position: relative;
                        width: 3rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    &.footer-fix, &.footer-sticky {
        .sidebar-footer {
            bottom: 0;
            width: 20rem;
        }
        &.sidebar-30 {
            .sidebar-footer {
                width: 30rem;
            }
        }
    }
    &.footer-fix {
        .sidebar-footer {
            position: fixed;
        }
    }
    &.footer-sticky {
        .sidebar-footer {
            position: sticky;
        }
    }
    &.footer-fix-46 {
        .sidebar-content { padding-bottom: 9.2rem; } /// Пока умножаем на 2, хуйня какая-то с этим андроидом
        .sidebar-footer { height: 4.6rem; }
    }

    &.active {
        right: 0 !important;
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.5);
        visibility: visible;
        .sidebar-header, .sidebar-footer {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        }
        /// xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px
        @include media-breakpoint-down(xs){
            width: 100% !important;
            &.footer-fix {
                .sidebar-footer {
                    width: 100% !important;
                }
            }
        }
    }
}
#chat-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &.active {
        display: block;
        opacity: 1;
    }
}
#chat-authority {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    .badge--chat {
        position: absolute;
        top: -.35rem;
        right: -.35rem;
        ///padding: .2rem .45rem;
        background: var(--danger);
        border-radius: 50%;
        color: var(--white);
        font-size: .7rem;
        width: 1.7rem;
        height: 1.7rem;
        line-height: 1.7rem;
    }
}

/// SIDEBAR PRICE FILTER
.sidebar-disguised {
    width: 20rem;
    transition: all 0.3s;
    position: relative;
    padding: .8rem;
    visibility: visible;
    .dismiss {
        display: none;
    }
    .apply {
        position: absolute;
        top: 10rem;
        right: -100px;
        border-left: none;
        z-index: 3;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -9px;
            border-width: 19px 10px 18px 0;
            border-style: solid;
            display: block;
            width: 0;
        }
        &.btn-danger:before {
            border-color: transparent var(--red);
        }
        &.btn-danger:hover:before {
            border-color: transparent var(--red-hover);
        }
        &.btn-success:before {
            border-color: transparent var(--green);
        }
        &.btn-success:hover:before {
            border-color: transparent var(--green-hover);
        }
    }
    &.active{
        margin-left: -20rem;
        visibility: collapse;
    }
    hr { height: 1px; }
    @include media-breakpoint-down(md){
        margin-left: -20rem;
        visibility: collapse;
        &.active {
            visibility: visible;
            margin-left: 0;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 30;
            background-color: var(--white);
            color: var(--dark);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
            padding: 0; /// Так как потом индивидуально header/body/top делаем
            .dismiss {
                display: block;
                width: 35px;
                height: 35px;
                position: absolute;
                top: 10px;
                right: 10px;
                transition: all .3s;
                border-radius: 4px;
                text-align: center;
                ///line-height: 35px;
                cursor: pointer;

                z-index: 4;
            }
            .apply {}
            .content {
                display: flex;
                flex-direction: column;
                height: 100vh;
                .header, .body, .footer {
                    padding: 0.8rem;
                }
                .header {
                    padding-right: 4rem;
                    font-size: 1.6rem;
                    text-align: center;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .body {
                    flex: 1;
                    overflow: auto;
                }
                .footer { }
            }
            #offersFilterApply { display: none; }
            .overlay {
                ///display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background: rgba(0, 0, 0, 0.7);
                z-index: 32; /// Не отработает, так как внутри другого с другим индексом
                ///opacity: 0;
                transition: all .5s ease-in-out;

                display: block;
                opacity: 1;

                margin-left: 20rem;
            }
            &.footer-fix, &.footer-sticky {
                .footer {
                    bottom: 0;
                    width: 20rem;
                }
                &.sidebar-30 {
                    .footer {
                        width: 30rem;
                    }
                }
            }
            &.footer-fix {
                .footer {
                    position: fixed;
                }
            }
            &.footer-sticky {
                .footer {
                    position: sticky;
                }
            }
            &.footer-fix-46 {
                .content { padding-bottom: 9.2rem; } /// Пока умножаем на 2, хуйня какая-то с этим андроидом
                .footer { height: 4.6rem; }
            }

            @include media-breakpoint-down(xs){
                width: 100%;
                .overlay { display: none; }
            }
        }
    }
}